@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">@CardHeroConstants.ApplicationName</h1>
    <p class="lead">@CardHeroConstants.ApplicationName is a dynamic action game.</p>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">Cards</h4>
                <p class="card-text">Discover over 1000 cards.</p>
                <a class="btn btn-primary" asp-controller="Card">View Cards</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">Decks</h4>
                <p class="card-text">Create you own decks.</p>
                <a class="btn btn-primary" asp-controller="Deck">View Decks</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">Battle</h4>
                <p class="card-text">Battle against other players.</p>
                <a class="btn btn-primary" asp-controller="Game">View Games</a>
            </div>
        </div>
    </div>
</div>
