version: 2.1
parameters:
  configuration:
    type: string
    default: "Release"
  node-project:
    type: string
    default: "apps/CardHero.NetCoreApp.TypeScript"
  solution:
    type: string
    default: "CardHero.sln"
jobs:
  init-workspace:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-buster
    steps:
      - checkout
      - run: |
          cd << pipeline.parameters.node-project >>
          rm -r wwwroot/dist
      - persist_to_workspace:
          root: .
          paths:
            - .

  init-node:
    docker:
      - image: node:13.1.0-buster
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
            - yarn-cache-v1-{{ arch }}-
      - run:
          name: node install
          command: |
            cd << pipeline.parameters.node-project >>
            yarn install --frozen-lockfile --cache-folder .node-cache/yarn
      - save_cache:
          key: yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
          paths:
            - << pipeline.parameters.node-project >>/.node-cache/yarn
            - << pipeline.parameters.node-project >>/node_modules

  dotnet-build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-buster
    steps:
      - attach_workspace:
          at: .
      - run: |
          dotnet restore << pipeline.parameters.solution >>
      - run: |
          dotnet build << pipeline.parameters.solution >> --no-restore
  dotnet-test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-buster
    steps:
      - attach_workspace:
          at: .
      - run: |
          dotnet test << pipeline.parameters.solution >> /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      - persist_to_workspace:
          root: .
          paths:
            - tests

  dotnet-publish:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-buster
    steps:
      - attach_workspace:
          at: .
      - run: |
          dotnet publish << pipeline.parameters.node-project >> --configuration << pipeline.parameters.configuration >> --output publish
      - store_artifacts:
          path: publish

  npm-build:
    docker:
      - image: node:13.1.0-buster
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
            - yarn-cache-v1-{{ arch }}-
      - run:
          name: npm build:prod
          command: |
            cd << pipeline.parameters.node-project >>
            npm run build:prod
      - persist_to_workspace:
          root: .
          paths:
            - << pipeline.parameters.node-project >>/wwwroot
  npm-lint:
    docker:
      - image: node:13.1.0-buster
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
            - yarn-cache-v1-{{ arch }}-
      - run:
          name: npm lint
          command: |
            cd << pipeline.parameters.node-project >>
            npm run lint
  npm-test:
    docker:
      - image: node:13.1.0-buster
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
            - yarn-cache-v1-{{ arch }}-
      - run:
          name: npm test
          command: |
            cd << pipeline.parameters.node-project >>
            npm run test
      - persist_to_workspace:
          root: .
          paths:
            - << pipeline.parameters.node-project >>/obj/coverage/js

  upload-coverage:
    docker:
      - image: node:13.1.0-buster
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-cache-v1-{{ arch }}-{{ checksum "<< pipeline.parameters.node-project >>/yarn.lock" }}
            - yarn-cache-v1-{{ arch }}-
      - run:
          name: npm coverage
          command: |
            cd << pipeline.parameters.node-project >>
            npm run coverage
      - run:
          name: dotnet coverage
          command: >
            files=`find tests -name 'coverage.opencover.xml'`;
            while read -r fname; do
            npx codecov -F dotnet -p . -f $fname;
            done \<<< "$files";
workflows:
  version: 2
  run-all:
    jobs:
      - init-workspace

      - init-node:
          requires:
            - init-workspace
      - dotnet-build:
          requires:
            - init-workspace

      - dotnet-test:
          requires:
            - dotnet-build

      - npm-build:
          requires:
            - init-node
      - npm-lint:
          requires:
            - init-node
      - npm-test:
          requires:
            - init-node

      - upload-coverage:
          requires:
            - dotnet-test
            - npm-test

      - dotnet-publish:
          requires:
            - dotnet-test
            - npm-build
            - npm-test
          filters:
            branches:
              only:
                - master
