.game-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}
.game-cards::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.game-cards > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.game-card:empty {
    background-color: #f7f7f7;
    border: 1px dashed black;
    border-radius: 0.25rem;
}

.game-card .card {
    margin-bottom: auto;
    border: 1px solid red;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0.5rem 0.25rem red;
}

.game-card.selected .card {
    border: 1px solid blue;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem 0.25rem blue;
}
