@use "overrides/bootstrap";
@use "card";
@use "custom";
@use "game";
@use "notifications";

body {
    overflow-y: scroll;
}

.body-content {
    margin-top: 4.5rem;
}

.card-favourite,
.deck-favourite {
    cursor: pointer;
}

.card-favourite.enabled,
.deck-favourite.enabled {
    color: yellow;
}

.ch-cards {
    min-height: 1em;
}
