@import "overrides/bootstrap.scss";
@import "card.scss";
@import "custom.scss";
@import "game.scss";
@import "notifications.scss";

body {
    overflow-y: scroll;
}

.body-content {
    margin-top: 4.5rem;
}

.card-favourite,
.deck-favourite {
    cursor: pointer;
}

.card-favourite.enabled,
.deck-favourite.enabled {
    color: yellow;
}

.ch-cards {
    min-height: 1em;
}
