@model DeckViewModel

@{ 
	ViewData["Title"] = Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div ng-app="deckApp">
	<div ng-controller="DeckSearchController" ng-init="search($event)">
		<div class="decks user-select-none">
			<div class="deck" ng-repeat="deck in decks">
				<div class="deck-name">
					<a href="@Url.Content("~/Decks/Detail/{{deck.id}}")" ng-bind="deck.name"></a>
				</div>
			</div>
		</div>
	</div>
</div>

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/decks.css" />
	</environment>
}

@section scripts {
	<environment names="Development">
		<script asp-src-include="~/js/Deck/*Controller.js"></script>
		<script src="~/js/Deck/app.js"></script>
	</environment>
}
