
@{ 
	ViewData["Title"] = "Decks";
}

<h2>@ViewData["Title"]</h2>

<div ng-app="deckApp">
	<script type="text/ng-template" id="CreateDeckModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Create Deck</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="modal-name">Name</label>
				<input type="text" id="modal-name" class="form-control" ng-model="name" />
			</div>
			<div class="form-group">
				<label for="modal-max-cards">Max Cards</label>
				<input type="number" id="modal-max-cards" class="form-control" ng-model="maxCards" />
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" type="button" ng-click="cancel()">Close</button>
			<button class="btn btn-success" type="button" ng-click="save($event)">Create</button>
		</div>
	</script>

	<div ng-controller="DeckSearchController" ng-init="search($event)">
		<button type="button" class="btn btn-primary" ng-click="create($event)">Create Deck</button>

		<hr />

		<div class="decks user-select-none">
			<div class="deck" ng-repeat="deck in decks">
				<div class="deck-name">
					<a href="@Url.Content("~/Deck/Details/{{deck.id}}")" ng-bind="deck.name"></a>
				</div>
			</div>
		</div>
	</div>
</div>

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/decks.css" />
	</environment>
}

@section scripts {
	<environment names="Development">
		<script asp-src-include="~/js/Deck/*Controller.js"></script>
		<script src="~/js/Deck/app.js"></script>
	</environment>
}
