body {
    overflow-y: scroll;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 4.5rem;
}

.card {
    margin-bottom: 1em;
}

.card-favourite,
.deck-favourite {
    cursor: pointer;
}

    .card-favourite.enabled,
    .deck-favourite.enabled {
        color: yellow;
    }

.game-cards.playable .game-card:hover {
    cursor: pointer;
}

.game-cards.playable .game-card.selected:hover {
    cursor: no-drop;
}

.ch-cards {
    min-height: 1em;
}

.ch-card {
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.ch-cards .ch-card .card-body:empty:after {
    content: "\00a0";
}

.current-card {
    cursor: pointer;
}

    .current-card.disabled {
        cursor: not-allowed;
    }

.draggable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
