@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    var isDev = Microsoft.Extensions.Hosting.HostEnvironmentEnvExtensions.IsDevelopment(env);

    var title = ViewData["Title"];

    if (Model is ReactAppViewModel m)
    {
        title = m.Title;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>@title - Card Hero</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Card Hero is the best card game." />

    <base href="~/" />

    <link rel="shortcut icon" href="~/favicon.ico" asp-append-version="true">

    <link rel="stylesheet" async asp-href-include="~/dist/styles.vendor.*.min.css" asp-append-version="@isDev" />

    @RenderSection("head", false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", false)
</body>
</html>
