body {
	overflow-y: scroll;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 2rem;
    padding-right: 2rem;*/
	margin-top: 4.5rem;
}

.side-content {
	height: 100%;
	background-color: #eee;
}

.side-content.left {
}

/* workaround for bootstrap select height */
select.form-control {
	height: 38px;
}

.table-column-small {
	width: 1px;
}

.table-column-medium {
	width: 120px;
}

.table-column-half {
	width: 50%;
}

.dropdown-menu-padding {
	padding: 3px 20px;
}

.search-filter > .form-group > .input-group > .form-control {
	width: auto;
}

.validation-summary-errors {
	border: 1px solid #f66;
	background-color: #fee;
	border-radius: 5px;
	margin-bottom: 5px;
}

.validation-summary-errors ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

.validation-summary-errors li {
	list-style: none;
}