@{
    ViewData["Title"] = "Home Page";
}

<div class="ui two column grid">
    <div class="column">
		<div class="ui image large">
			<img src="~/images/banner1.svg" alt="ASP.NET" />
		</div>
        <div class="content">
            <p class="description">
                Learn how to build ASP.NET apps that can run anywhere.
            </p>
        </div>
		<div class="extra content">
			<a class="ui link" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
				Learn More
			</a>
		</div>
    </div>
    <div class="column">
		<div class="ui image large">
			<img src="~/images/banner2.svg" alt="Visual Studio" />
		</div>
        <div class="content">
            <p class="description">
                There are powerful new features in Visual Studio for building modern web apps.
            </p>
        </div>
		<div class="extra content">
			<a class="ui link" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
				Learn More
			</a>
		</div>
    </div>
    <div class="column">
		<div class="ui image large">
			<img src="~/images/banner3.svg" alt="Package Management" />
		</div>
        <div class="content">
            <p class="description">
                Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
            </p>
        </div>
		<div class="extra content">
			<a class="ui link" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
				Learn More
			</a>
		</div>
    </div>
    <div class="column">
		<div class="ui image large">
			<img src="~/images/banner4.svg" alt="Microsoft Azure" />
		</div>
        <div class="content">
            <p class="description">
                Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
            </p>
        </div>
		<div class="extra content">
			<a class="ui link" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
				Learn More
			</a>
		</div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui aligned container">
	<div class="ui stackable grid">
		<div class="four wide column">
			<h4>Application uses</h4>
			<ul class="ui list">
				<li class="item">Sample pages using ASP.NET Core MVC</li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
				<li class="item">Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
			</ul>
		</div>
		<div class="four wide column">
			<h4>How to</h4>
			<ul class="ui list">
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
			</ul>
		</div>
		<div class="four wide column">
			<h4>Overview</h4>
			<ul class="ui list">
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
			</ul>
		</div>
		<div class="four wide column">
			<h4>Run & Deploy</h4>
			<ul class="ui list">
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
				<li class="item"><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
			</ul>
		</div>
	</div>
</div>
