$rarity-common: brown;
$rarity-uncommon: green;
$rarity-rare: blue;
$rarity-epic: purple;
$rarity-legendary: gold;

$rarity-colours: ( "common": $rarity-common, "uncommon": $rarity-uncommon, "rare": $rarity-rare, "epic": $rarity-epic, "legendary": $rarity-legendary );
